html,
body {
    margin: 0;
    height: 100%;
}

#map {
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;

    top: 0;
    /*top: 55px;*/
    /*left: 20px;*/
    /*right: 20px;*/
    /* bottom:50px; */
    bottom: 0;
    width: 100%;
    background: rgb(229, 227, 223);
}

#panel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: var(--ol-partial-background-color);
    flex-flow: column;
    bottom: 0rem;
    right: auto;
    border-radius: 5px;
    position: absolute;

    z-index: 50;
    width: 50vw;
    left: 25vw;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 1px .5em;
    color: var(--ol-foreground-color);
    text-shadow: 0 0 2px var(--ol-background-color);
}

.ol-control.ol-layerswitcher .panel-container {
    border-radius: 5px;
}

#formatted input {
    width: 45vw;
    height: 1.5rem;
}

#LeftLayerLabel {
    position: absolute;
    top: 6em;
    left: 0.5em;
    font-family: "Arial";
    font-size: 12pt;
    z-index: 30;
}

#RightLayerLabel {
    position: absolute;
    top: 6em;
    right: 0.5em;
    font-family: "Arial";
    font-size: 12pt;
    z-index: 30;
}

#ZoomElement {
    position: absolute;
    top: auto;
    left: 10px;
    font-family: "Arial";
    font-size: 12pt;
    text-shadow: 0 0 0.5em #FFE, 0 0 0.5em #FFE, 0 0 0.5em #FFE;
    z-index: 30;
    bottom: 2.0em;
    /*text-decoration: none;*/
}

.CopyIcon {
    top: .25em;
    border-radius: 5px;
    margin: 3px;
    position: relative;
}

.CopyIcon.svg{
    top:1px;    
}

.field-CSV {
    background: var(--ol-partial-background-color);
    width: 25vw;
    margin-bottom: 5px;
}

/* Open Layer Mods */

.ol-control.ol-search>button:before {
    border: 0;
}

.ol-control.ol-search>button:after {
    height: 0;
}

.ol-layerswitcher-image>button:before,
.ol-layerswitcher>button:before {
    height: 0;
}

.ol-layerswitcher-image>button:before,
.ol-layerswitcher>button:after {
    height: 0;
}

/* button size */
.ol-control button {
    width: 2em;
    height: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* background-color: var(--ol-partial-background-color); */
}

.ol-control button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.ol-control.ol-bar {
    left: 8%;
    background-color: transparent;
}

.ol-control.ol-bar .ol-control {
    padding: 0 0.5rem 0 0.5rem;
}

.ol-scale-line {
    bottom: 2rem !important;
    left: 99vw !important;
}

.ol-scale-line-inner {
    will-change: contents, width;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d2d2d28f;
    color: rgb(66, 66, 66);
}

.ol-custom-mouse-position {
    position: absolute;
    top: auto;
    left: 10px;
    font-family: "Arial";
    font-size: 12pt;
    text-shadow: 0 0 0.7em #FFF, 0 0 0.7em #FFF, 0 0 0.7em #FFF;
}

.ol-custom-mouse-positionHDMS {
    bottom: 7.5em;
}

.ol-custom-mouse-position4326 {
    bottom: 6em;
}

.ol-custom-mouse-position900913 {
    bottom: 4.5em;
}

.ol-custom-mouse-positionPIXEL {
    bottom: 3em;
}

.ol-custom-mouse-positionTILE {
    bottom: 1.5em;
}

.ol-control.ol-layerswitcher {
    top: 8em;
}

.ol-control.ol-layerswitcher.layerSwitcherLeft {
    left: 0.5em;
    right: auto;
}

.layerSwitcherLeft>button {
    float: none;
}

.hideOpacity .layerswitcher-opacity {
    display: none;
}

.hideOpacity .ol-layerswitcher .layerup {
    height: 1.5em;
}

.ol-control.ol-swipe {
    top: 4em;
}

.ol-swipe:before {
    width: 0px;
}

.ol-button.ol-active button {
    background: rgba(60, 136, 0, 0.7)
}

.debug-toggle {
    top: 0.5em;
    left: 9em;
}

.bbox-toggle {
    top: 0.5em;
    left: 11em;
}

.ol-search {
    left: 15%;
}

.ol-search ul {
    color: #333;
    font-size: 0.85em;
    max-width: 21em;
}

.ol-search ul i {
    display: block;
    color: #333;
    font-size: 0.85em;
}

.info {
    display: inline-block;
    width: 100%;
}

.info a img {
    height: 100px;
    margin-right: .5em;
    float: left;
}

.ol-button i {
    color: inherit;
}

.ol-button.red button,
.ol-button.green button,
.ol-button.blue button {
    color: #f00;
    background-color: currentColor;
    border: 2px solid currentColor;
    width: 1em;
    height: 1em;
    border-radius: 0;
}

.ol-button.green button {
    color: #0f0;
}

.ol-button.blue button {
    color: #00f;
}

.ol-button.red button:hover,
.ol-button.green button:hover,
.ol-button.blue button:hover {
    background-color: currentColor !important;
    border-color: #000;
}